In [1]:
import pandas as pd #pip install pandas

#### Importando dados originais

In [2]:
od = pd.read_csv('../data/original/OD_2017_v1.csv')

od.head()

,ZONA,MUNI_DOM,CO_DOM_X,CO_DOM_Y,ID_DOM,F_DOM,FE_DOM,DOM,CD_ENTRE,DATA,...,MODOPRIN,TIPVG,PAG_VIAG,TP_ESAUTO,VL_EST,PE_BICI,VIA_BICI,TP_ESBICI,DISTANCIA,ID_ORDEM
0,1,36,333743,7394463,10001,1,15.416667,1,1,6092017,...,16.0,3.0,NaN,NaN,NaN,1.0,NaN,NaN,639.13,1
1,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,16.0,3.0,NaN,NaN,NaN,1.0,NaN,NaN,639.13,2
2,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,6651.77,3
3,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,4243.30,4
4,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,12.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4557.62,5

#### Deixando apenas as viagens com o modo de transporte principal sendo "a Pé"

In [3]:
od_walk = od.drop(od[od['MODOPRIN'] != 16.0].index, inplace=False)

od_walk.head()
print(len(od_walk))

48285

#### Filtrando de acordo com os zonas

In [5]:
areas = {
    'SubCentral-AreaCentral':(1.0, 109.0),
    'SubCentral-AreaNoroeste':(109.0, 128.0),
    'SubCentral-AreaNorte':(128.0, 166.0),
    'SubCentral-AreaNordeste':(166.0, 208.0),
    'SubCentral-AreaLeste':(208.0, 236.0),
    'SubCentral-AreaSudeste':(236.0, 268.0),
    'SubCentral-AreaSul':(268.0, 300.0),
    'SubCentral-AreaSudoeste':(300.0, 316.0),
    'SubCentral-AreaOeste':(316.0, 343.0),
    'Se-Distrito':(1.0, 4.0),
    'Se-SubPrefeitura':(1.0, 38.0)
}

walks_by_area = dict()

In [6]:
for area, zones in areas.items():
    min_zone, max_zone = zones

    walks = od_walk.drop(od_walk[~((od_walk['ZONA_O'] >= min_zone) & (od_walk['ZONA_O'] < max_zone))].index, inplace=False)
    walks = walks.drop(walks[~((walks['ZONA_D'] >= min_zone) & (walks['ZONA_D'] < max_zone))].index, inplace=False)

    print(f'{area}: {len(walks)}')
    walks_by_area[area] = walks

SubCentral-AreaCentral: 14508
SubCentral-AreaNoroeste: 1339
SubCentral-AreaNorte: 2446
SubCentral-AreaNordeste: 3301
SubCentral-AreaLeste: 2146
SubCentral-AreaSudeste: 2338
SubCentral-AreaSul: 2641
SubCentral-AreaSudoeste: 1942
SubCentral-AreaOeste: 1642
Se-Distrito: 503
Se-SubPrefeitura: 5626

#### Salvando os dataframes

In [7]:
for area, walks in walks_by_area.items():
    walks.to_csv(f'../data/walks-by-area/{area}.csv')