In [1]:
import pandas as pd #pip install pandas

#### Importando dados originais

In [2]:
od = pd.read_csv('../data/original/OD_2017_v1.csv')

od.head()

,ZONA,MUNI_DOM,CO_DOM_X,CO_DOM_Y,ID_DOM,F_DOM,FE_DOM,DOM,CD_ENTRE,DATA,...,MODOPRIN,TIPVG,PAG_VIAG,TP_ESAUTO,VL_EST,PE_BICI,VIA_BICI,TP_ESBICI,DISTANCIA,ID_ORDEM
0,1,36,333743,7394463,10001,1,15.416667,1,1,6092017,...,16.0,3.0,NaN,NaN,NaN,1.0,NaN,NaN,639.13,1
1,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,16.0,3.0,NaN,NaN,NaN,1.0,NaN,NaN,639.13,2
2,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,6651.77,3
3,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,4243.30,4
4,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,12.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4557.62,5

#### Deixando apenas as viagens com o modo de transporte principal sendo "a Pé"

In [3]:
od_walk = od.drop(od[od['MODOPRIN'] != 16.0].index, inplace=False)

od_walk.head()
print(len(od_walk))

48285

#### Filtrando de acordo com o motivo da viagem

In [4]:
walk_reasons = { 
    1.0: 'Pequena distância',
    2.0: 'Condução cara',
    3.0: 'Ponto/Estação distante',
    4.0: 'Condução demora para passar',
    5.0: 'Viagem demorada',
    6.0: 'Condução lotada',
    7.0: 'Atividade física',
    8.0: 'Outros motivos'
}

od_walks_filtered = dict()
for code, reason in walk_reasons.items():
    walk = od_walk.drop(od_walk[od_walk['PE_BICI'] != code].index, inplace=False)
    od_walks_filtered[code] = walk

In [6]:
walks_woman = od_walk.drop(od_walk[od_walk['SEXO'] != 2.0].index, inplace=False)
walks_men = od_walk.drop(od_walk[od_walk['SEXO'] != 1.0].index, inplace=False)

print(len(walks_men))
print(len(walks_woman))

22674
25611

#### Salvando os dataframes

In [7]:
# for code, walk in od_walks_filtered.items():
#     walk.to_csv(f"../data/walks-by-reason-{int(code)}.csv")

od_walk.to_csv(f"../data/all-walks.csv")
walks_men.to_csv(f"../data/all-walks-men.csv")
walks_woman.to_csv(f"../data/all-walks-woman.csv")