In [2]:
import pandas as pd #pip install pandas

#### Importando dados originais

In [3]:
od = pd.read_csv('../data/original/OD_2017_v1.csv')

od.head()

,ZONA,MUNI_DOM,CO_DOM_X,CO_DOM_Y,ID_DOM,F_DOM,FE_DOM,DOM,CD_ENTRE,DATA,...,MODOPRIN,TIPVG,PAG_VIAG,TP_ESAUTO,VL_EST,PE_BICI,VIA_BICI,TP_ESBICI,DISTANCIA,ID_ORDEM
0,1,36,333743,7394463,10001,1,15.416667,1,1,6092017,...,16.0,3.0,NaN,NaN,NaN,1.0,NaN,NaN,639.13,1
1,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,16.0,3.0,NaN,NaN,NaN,1.0,NaN,NaN,639.13,2
2,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,6651.77,3
3,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,4243.30,4
4,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,12.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4557.62,5

#### Deixando apenas as viagens com o modo de transporte principal sendo "a Pé"

In [4]:
od_walk = od.drop(od[od['MODOPRIN'] != 16.0].index, inplace=False)

od_walk.head()
print(len(od_walk))

48285

#### Filtrando de acordo com os zonas

In [7]:
CENTRO=[1, 2, 3, 4, 5, 6, 7, 8, 9, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37]
LESTE1=[10, 11, 12, 13, 14, 15, 16, 17, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263]
LESTE2=[179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 264, 265, 266, 267]
OESTE=[68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 113, 316, 317, 318, 319, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342]
NORTE2=[109, 110, 111, 112, 114, 115, 116, 117, 118, 119, 125, 126, 127, 120, 121, 122, 123, 124, 136, 137, 138, 139, 140, 141, 142, 143]
NORTE1=[128, 129, 130, 131, 132, 133, 134, 135, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165]
SUL1=[49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 273, 274, 275, 276]
SUL2=[268, 269, 270, 271, 272, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 320, 321, 322, 323, 324, 325, 326]

total = list(CENTRO)
total.extend(LESTE1)
total.extend(LESTE2)
total.extend(OESTE)
total.extend(NORTE2)
total.extend(NORTE1)
total.extend(SUL1)
total.extend(SUL2)

total = set(sorted(total))
print(total[0])
print(total[-1])

# for i in range(1, 343):
    



# areas = {
#     'SãoPaulo-Centro': ,
#     'SãoPaulo-Oeste': OESTE,
#     'SãoPaulo-Sul1':,
#     'SãoPaulo-Sul2':,
#     'SãoPaulo-Norte1':,
#     'SãoPaulo-Norte2': NORTE2,
#     'SãoPaulo-Leste1':,
#     'SãoPaulo-Leste2':
# }

# walks_by_area = dict()

342

In [6]:
for area, zones in areas.items():
    walks = od_walk.drop(od_walk[~(od_walk['ZONA_O'] not in zones)].index, inplace=False)
    walks = walks.drop(walks[~(walks['ZONA_D'] not in zones)].index, inplace=False)

    print(f'{area}: {len(walks)}')
    walks_by_area[area] = walks

SubCentral-AreaCentral: 14508
SubCentral-AreaNoroeste: 1339
SubCentral-AreaNorte: 2446
SubCentral-AreaNordeste: 3301
SubCentral-AreaLeste: 2146
SubCentral-AreaSudeste: 2338
SubCentral-AreaSul: 2641
SubCentral-AreaSudoeste: 1942
SubCentral-AreaOeste: 1642
Se-Distrito: 503
Se-SubPrefeitura: 5626

#### Salvando os dataframes

In [7]:
for area, walks in walks_by_area.items():
    walks.to_csv(f'../data/walks-by-area/{area}.csv')